 # Filtering Data with WHERE

In this section, we will learn how to filter records based on a condition. This is achieved with the `WHERE` clause of a SQL query. 

## Setup 
First get set up. Download the SQLite database file `company_operations.db` and connect to it. Also bring in `pandas` to display our SQL query results as a `DataFrame`.

In [2]:
import sqlite3
import pandas as pd
import urllib.request

# download SQLite database and connect to it 
urllib.request.urlretrieve("https://github.com/thomasnield/anaconda_intro_to_sql/blob/main/company_operations.db?raw=true", "company_operations.db")
conn = sqlite3.connect('company_operations.db')

Let's take a look at the table `WEATHER_MONITOR` and sample 10 records out of it. Note this is weather data capturing several measurements including `RAIN` and `LIGHTNING`, as well as TRUE/FALSE indicators like `LIGHTNING`, `HAIL`, `TORNADO` which will be 1 and 0 respectively (1 for TRUE, 0 for FALSE).

## Filtering Numeric Expressions

We are first going to cover filtering data with numeric operations, some of which will extend into other data types like text.

In [3]:
sql = "SELECT * FROM WEATHER_MONITOR LIMIT 10"

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1,UVYMMWW,2021-03-20,0,66.0,1,3.74,0.0,0,0,0
1,2,7VVYE2L,2021-04-10,24,61.3,0,0.00,0.0,0,0,0
2,3,PJVNOSP,2021-02-26,32,61.6,1,1.58,0.0,0,0,0
3,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
4,5,EHVUPGY,2021-04-09,48,58.5,0,0.00,0.0,0,0,0
5,6,ZBAHLGO,2021-04-25,14,65.0,0,0.00,0.0,0,0,0
6,7,MQQV3KI,2021-02-24,37,56.2,0,0.00,0.0,0,0,0
7,8,R238Q5U,2021-05-15,39,62.9,1,1.45,0.0,0,0,0
8,9,G0UINBG,2021-05-04,14,62.2,1,NaN,0.0,0,0,0
9,10,R2H56G5,2021-03-30,27,59.6,0,0.00,0.0,0,0,0

Let's say we want to find all records that have a temperature of exactly 64 degrees Fahrenheit. We can simply use an `=` operator in a `WHERE` condition like this:

In [4]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE TEMPERATURE = 64

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,60,6QETJAS,2021-05-05,49,64.0,1,2.00,0.0,0,0,0
1,253,23HU9OA,2021-04-27,7,64.0,0,0.00,0.0,0,0,0
2,329,AXPM64P,2021-05-03,43,64.0,0,0.00,0.0,0,0,0
3,446,9IJJS1N,2021-04-23,25,64.0,0,0.00,0.0,0,0,0
4,449,EZ4UTKD,2021-02-01,17,64.0,1,0.00,0.0,1,0,0
5,578,CN6TN76,2021-04-30,19,64.0,1,2.34,0.0,0,0,0
6,637,G0T8WTS,2021-02-26,23,64.0,0,0.00,0.0,0,0,0
7,793,HYQ6YTK,2021-05-22,3,64.0,0,0.00,0.0,0,0,0
8,802,T1C1EG3,2021-02-23,46,64.0,1,0.98,0.0,1,0,0
9,931,UUZIZJW,2021-03-06,28,64.0,0,0.00,0.0,0,0,0
10,3000,IC35HCE,2021-01-07,48,64.0,1,2.32,0.0,0,0,0

To get all records that are not 64 degrees, you can use the `!=` or `<>` operator which expresses "not equals."

In [5]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE TEMPERATURE != 64

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1,UVYMMWW,2021-03-20,0,66.0,1,3.74,0.0,0,0,0
1,2,7VVYE2L,2021-04-10,24,61.3,0,0.00,0.0,0,0,0
2,3,PJVNOSP,2021-02-26,32,61.6,1,1.58,0.0,0,0,0
3,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
4,5,EHVUPGY,2021-04-09,48,58.5,0,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2981,2995,XV1UQZ4,2021-01-15,6,89.8,1,1.69,0.0,0,0,0
2982,2996,RWG4DY4,2020-11-26,6,106.6,1,0.00,0.0,0,0,0
2983,2997,9A9EQNQ,2020-11-29,12,85.8,1,2.24,0.0,0,0,0
2984,2998,C7ALVIK,2021-01-14,48,96.8,0,0.00,0.0,0,0,0
2985,2999,V660AWC,2021-01-10,29,103.6,1,2.73,0.0,0,0,0

To get all records within a value range, you can use the `BETWEEN` operator. To get all records with a temperature between 10 and 20 degrees, target a `BETWEEN` on the `TEMPERATURE` field.

In [6]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE TEMPERATURE BETWEEN 10 AND 20
"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1062,QI1W28D,2021-01-25,45,19.3,0,0.00,0.00,0,0,0
1,1125,B2BLT7S,2020-12-29,20,18.1,1,0.00,0.00,0,0,0
2,1192,1BYZLFX,2020-11-15,5,18.3,1,0.00,3.50,0,0,0
3,1255,ZXV56JR,2020-12-07,31,20.0,0,0.00,0.00,0,0,0
4,1290,426TK3M,2021-01-30,8,19.4,0,0.00,0.00,0,0,0
5,1312,WZUDCQG,2021-01-24,16,18.6,1,0.00,0.00,0,0,0
6,1601,8KUEA0Q,2021-01-03,5,19.1,1,2.42,1.13,0,0,0
7,1785,IA19WR5,2020-11-13,46,19.9,1,3.58,0.00,0,0,0
8,1943,4V89L84,2021-01-04,45,18.6,1,4.37,2.16,0,0,0

The `BETWEEN` is inclusive so it will include 10 and 20 degrees. If you want to exlude the bounds, and strictly only return records exclusively between 10 and 20 degrees, use comparative operators `>` and `<` with an `AND` to qualify both conditions.

In [7]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE TEMPERATURE > 10 AND TEMPERATURE < 20

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1062,QI1W28D,2021-01-25,45,19.3,0,0.00,0.00,0,0,0
1,1125,B2BLT7S,2020-12-29,20,18.1,1,0.00,0.00,0,0,0
2,1192,1BYZLFX,2020-11-15,5,18.3,1,0.00,3.50,0,0,0
3,1290,426TK3M,2021-01-30,8,19.4,0,0.00,0.00,0,0,0
4,1312,WZUDCQG,2021-01-24,16,18.6,1,0.00,0.00,0,0,0
5,1601,8KUEA0Q,2021-01-03,5,19.1,1,2.42,1.13,0,0,0
6,1785,IA19WR5,2020-11-13,46,19.9,1,3.58,0.00,0,0,0
7,1943,4V89L84,2021-01-04,45,18.6,1,4.37,2.16,0,0,0

The inclusive `BETWEEN` could also be accomplished using `>=` and `<=`. 

Let's say we want to get records where the `LOCATION_ID` is 5, 20, or 35. We can achieve this using an `OR` which specifies at least one condition must be true.

In [8]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE LOCATION_ID = 5 
OR LOCATION_ID = 20 
OR LOCATION_ID = 35

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,29,XJC678P,2021-02-20,5,65.1,0,0.00,0.0,0,0,0
1,44,L5S7JW3,2021-04-20,20,56.1,1,0.00,0.0,1,0,0
2,64,FHKJXZH,2021-02-24,20,56.8,0,0.00,0.0,0,0,0
3,87,UN6LJ6I,2021-03-30,35,55.0,0,0.00,0.0,0,0,0
4,89,INNFA7U,2021-04-15,20,58.0,1,2.09,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
184,2901,GGSLK82,2020-11-25,5,85.4,1,0.60,0.0,0,0,0
185,2934,6QBV5IR,2021-01-28,20,87.1,0,0.00,0.0,0,0,0
186,2937,M511XRH,2021-01-19,5,96.6,1,3.24,0.0,0,0,0
187,2944,FJTFZID,2020-12-29,35,95.0,0,0.00,0.0,0,0,0
188,2989,S4ED81Y,2020-12-04,35,91.4,0,0.00,0.0,0,0,0

This demonstrates the `OR` allows a condition to be composed of multiple conditions, where at least one of them must be true. But for this particular problem we can use the `IN` operator to qualify a set of values in a set.

In [9]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE LOCATION_ID IN  (5, 20, 35)

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,29,XJC678P,2021-02-20,5,65.1,0,0.00,0.0,0,0,0
1,44,L5S7JW3,2021-04-20,20,56.1,1,0.00,0.0,1,0,0
2,64,FHKJXZH,2021-02-24,20,56.8,0,0.00,0.0,0,0,0
3,87,UN6LJ6I,2021-03-30,35,55.0,0,0.00,0.0,0,0,0
4,89,INNFA7U,2021-04-15,20,58.0,1,2.09,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
184,2901,GGSLK82,2020-11-25,5,85.4,1,0.60,0.0,0,0,0
185,2934,6QBV5IR,2021-01-28,20,87.1,0,0.00,0.0,0,0,0
186,2937,M511XRH,2021-01-19,5,96.6,1,3.24,0.0,0,0,0
187,2944,FJTFZID,2020-12-29,35,95.0,0,0.00,0.0,0,0,0
188,2989,S4ED81Y,2020-12-04,35,91.4,0,0.00,0.0,0,0,0

You can also negate a condition by preceding it with the `NOT` keyword. To get all records where the `LOCATION_ID` is not 5, 20, or 35 run this query:

In [10]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE LOCATION_ID NOT IN  (5, 20, 35)

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1,UVYMMWW,2021-03-20,0,66.0,1,3.74,0.0,0,0,0
1,2,7VVYE2L,2021-04-10,24,61.3,0,0.00,0.0,0,0,0
2,3,PJVNOSP,2021-02-26,32,61.6,1,1.58,0.0,0,0,0
3,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
4,5,EHVUPGY,2021-04-09,48,58.5,0,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2806,2996,RWG4DY4,2020-11-26,6,106.6,1,0.00,0.0,0,0,0
2807,2997,9A9EQNQ,2020-11-29,12,85.8,1,2.24,0.0,0,0,0
2808,2998,C7ALVIK,2021-01-14,48,96.8,0,0.00,0.0,0,0,0
2809,2999,V660AWC,2021-01-10,29,103.6,1,2.73,0.0,0,0,0
2810,3000,IC35HCE,2021-01-07,48,64.0,1,2.32,0.0,0,0,0

## Filtering Boolean Values  

When you encounter fields that are binary (1 = TRUE, 0 = FALSE) which are also called booleans, you simply qualify the same way you would with other numbers. Here we find records where a tornado was sighted (1).

In [11]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE TORNADO = 1

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,16,H3TOK27,2021-03-15,46,69.4,1,3.16,0.0,1,1,1
1,66,N5E6A32,2021-05-17,8,62.6,1,0.72,0.0,1,1,1
2,67,NXN6UQH,2021-03-08,17,68.7,1,2.16,0.0,1,1,1
3,72,BVGO9N4,2021-05-04,27,51.4,1,0.00,0.0,1,1,1
4,84,NRRRL3Z,2021-02-20,0,59.3,1,0.00,0.0,1,1,1
5,85,HOKJWT3,2021-03-06,30,56.3,1,1.77,0.0,1,1,1
6,104,CMM6MS7,2021-05-05,39,56.8,1,0.00,0.0,1,1,1
7,110,D2M5TN9,2021-05-22,16,63.0,1,2.60,0.0,1,1,1
8,134,VU1WE8Q,2021-03-02,5,62.5,1,2.50,0.0,1,1,1
9,163,XWB9ZQ4,2021-05-18,45,61.8,1,0.00,0.0,0,1,1
10,164,CH9D2ON,2021-05-22,24,67.7,1,3.54,0.0,1,1,1
11,166,OOENLCM,2021-05-25,8,53.9,1,0.00,0.0,1,1,1
12,187,TV9XROC,2021-04-18,48,66.0,1,0.00,0.0,0,1,1
13,198,VNALJZT,2021-03-24,3,58.2,1,0.09,0.0,1,1,1
14,206,NO0T5SJ,2021-03-31,5,64.1,1,0.00,0.0,1,1,1
15,238,TO7FS49,2021-02-19,40,52.6,1,0.00,0.0,1,1,1
16,246,S0SXVTZ,2021-02-15,43,57.5,1,0.84,0.0,0,1,1
17,277,N5Z1SCJ,2021-05-15,4,58.3,1,1.40,0.0,0,1,1
18,307,M2XBIEL,2021-05-07,3,61.5,1,NaN,0.0,0,1,1
19,314,LW4QMP7,2021-04-20,10,62.9,1,1.87,0.0,1,1,1
20,334,5UHWPYX,2021-04-03,29,52.6,1,1.37,0.0,1,1,1
21,350,BGL8OI0,2021-04-21,30,58.0,1,2.28,0.0,0,1,1
22,355,ZL1DKWZ,2021-02-13,39,62.5,1,2.02,0.0,0,1,1
23,366,HEB638I,2021-02-23,36,63.4,1,3.09,0.0,1,1,1
24,382,PB3AZK3,2021-04-19,16,58.3,1,0.00,0.0,0,1,1
25,387,E2LA0TK,2021-05-03,10,58.0,1,2.32,0.0,0,1,1
26,474,YNP0OGB,2021-02-09,15,56.6,1,1.60,0.0,1,1,1
27,481,TBRG379,2021-05-21,0,59.5,1,0.61,0.0,0,1,1
28,487,7FGH88E,2021-03-26,48,62.0,1,0.94,0.0,0,1,1
29,521,YJTJ291,2021-02-27,33,53.6,1,0.00,0.0,0,1,1
30,534,ZRSFMAY,2021-05-16,29,63.4,1,0.00,0.0,0,1,1
31,547,WBXG24W,2021-03-25,48,63.2,1,3.41,0.0,0,1,1
32,575,SV56DJ2,2021-04-27,25,68.6,1,0.00,0.0,1,1,1
33,576,8QKBI9O,2021-05-14,7,57.4,1,0.00,0.0,1,1,1
34,577,Z0N3XB7,2021-03-18,23,58.5,1,2.40,0.0,1,1,1
35,582,6T1FT5P,2021-05-04,43,58.4,1,1.98,0.0,0,1,1
36,589,U3F98VW,2021-03-09,21,65.4,1,3.20,0.0,0,1,1
37,639,63DOPY4,2021-03-02,17,61.0,1,1.35,0.0,0,1,1
38,640,BVF4E7Z,2021-02-23,40,64.1,1,0.00,0.0,1,1,1
39,693,OBWWK2L,2021-04-29,10,62.8,1,0.00,0.0,0,1,1
40,713,ST9N6RZ,2021-04-29,28,56.0,1,NaN,0.0,0,1,1
41,715,F06B7RX,2021-04-01,35,54.9,1,1.97,0.0,1,1,1
42,716,87WYPTR,2021-04-30,48,61.0,1,NaN,0.0,0,1,1
43,721,B11WJ8J,2021-02-19,26,63.6,1,0.02,0.0,0,1,1
44,757,PNQ4ICZ,2021-05-08,3,68.7,1,1.74,0.0,1,1,1
45,820,8SAK9W6,2021-03-20,5,56.4,1,0.00,0.0,1,1,1
46,847,4COYQ3D,2021-02-05,14,58.3,1,1.64,0.0,0,1,1
47,861,J9CG6E3,2021-04-21,13,57.2,1,1.47,0.0,1,1,1
48,889,VI2D9WI,2021-04-13,44,58.1,1,0.91,0.0,0,1,1
49,903,74YIOCN,2021-03-24,3,64.4,1,1.79,0.0,1,1,1
50,927,BA0SNNS,2021-03-04,3,66.5,1,2.15,0.0,1,1,1
51,941,5ORT2Y5,2021-04-05,47,66.4,1,0.00,0.0,1,1,1
52,942,I2L5WI0,2021-04-23,39,55.7,1,0.00,0.0,0,1,1
53,943,UH2WMJE,2021-02-06,45,66.8,1,4.37,0.0,0,1,1
54,953,R4VAK9K,2021-02-17,2,58.9,1,NaN,0.0,1,1,1
55,959,5ZBJOOK,2021-02-03,25,56.9,1,1.64,0.0,1,1,1
56,997,1Q02Y10,2021-05-29,12,59.2,1,2.24,0.0,0,1,1
57,999,X62CXQ9,2021-05-19,29,59.2,1,2.73,0.0,0,1,1

You can also qualify records where a tornado was not sighted (0).

In [12]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE TORNADO = 0

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1,UVYMMWW,2021-03-20,0,66.0,1,3.74,0.0,0,0,0
1,2,7VVYE2L,2021-04-10,24,61.3,0,0.00,0.0,0,0,0
2,3,PJVNOSP,2021-02-26,32,61.6,1,1.58,0.0,0,0,0
3,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
4,5,EHVUPGY,2021-04-09,48,58.5,0,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2937,2996,RWG4DY4,2020-11-26,6,106.6,1,0.00,0.0,0,0,0
2938,2997,9A9EQNQ,2020-11-29,12,85.8,1,2.24,0.0,0,0,0
2939,2998,C7ALVIK,2021-01-14,48,96.8,0,0.00,0.0,0,0,0
2940,2999,V660AWC,2021-01-10,29,103.6,1,2.73,0.0,0,0,0
2941,3000,IC35HCE,2021-01-07,48,64.0,1,2.32,0.0,0,0,0

Be careful mixing `AND` and `OR` operations as this can mangle conditions, confusing both people and machines. For instance, suppose we wanted to find records where there was snow or sleet. For sleet to happen, there must be rain and the temperature must be less than or equal to 32 degrees. Now study the query below, and ask yourself which conditions belong to the `AND` versus the `OR`?

In [13]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE SNOW > 0 OR RAIN > 0 AND TEMPERATURE <= 32

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1001,7AHHNWC,2020-12-17,0,27.8,1,3.74,3.00,0,0,0
1,1003,VSCW6OD,2020-12-24,32,24.1,1,1.58,0.00,0,0,0
2,1008,EC0BJYN,2021-01-10,39,25.9,1,1.45,0.00,0,0,0
3,1015,F173VPE,2020-12-18,1,32.8,1,2.45,3.08,0,0,0
4,1016,E6YRPK9,2021-01-14,46,33.8,1,NaN,2.98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
363,1993,NW41RGU,2020-11-11,25,28.5,1,0.00,2.96,0,0,0
364,1996,WYF9052,2020-11-26,6,23.8,1,0.00,2.07,0,0,0
365,1997,A69J18D,2020-11-29,12,26.0,1,2.24,4.29,0,0,0
366,1999,FFAZEYM,2021-01-10,29,26.6,1,2.73,0.91,0,0,0
367,2000,QHATJDX,2021-01-07,48,29.0,1,2.32,0.99,0,0,0

This technically works, although mixing `AND` and `OR` like this can create confusion and even errors for more complicated queries. This is why it is a good idea to force an order of operations with parantheses, so the conditions are grouped appropriately and evaluated in the intended order. This should be done even if it is just for clarity. Below we organize the query so the sleet condition is grouped into a single condition.

In [14]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE SNOW > 0 OR (RAIN > 0 AND TEMPERATURE <= 32)

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1001,7AHHNWC,2020-12-17,0,27.8,1,3.74,3.00,0,0,0
1,1003,VSCW6OD,2020-12-24,32,24.1,1,1.58,0.00,0,0,0
2,1008,EC0BJYN,2021-01-10,39,25.9,1,1.45,0.00,0,0,0
3,1015,F173VPE,2020-12-18,1,32.8,1,2.45,3.08,0,0,0
4,1016,E6YRPK9,2021-01-14,46,33.8,1,NaN,2.98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
363,1993,NW41RGU,2020-11-11,25,28.5,1,0.00,2.96,0,0,0
364,1996,WYF9052,2020-11-26,6,23.8,1,0.00,2.07,0,0,0
365,1997,A69J18D,2020-11-29,12,26.0,1,2.24,4.29,0,0,0
366,1999,FFAZEYM,2021-01-10,29,26.6,1,2.73,0.91,0,0,0
367,2000,QHATJDX,2021-01-07,48,29.0,1,2.32,0.99,0,0,0

## Filtering Text Expressions

Let's say you want to look up a record with a given `REPORT_CODE`. Since that field is text and not a number, you need to specify that report code `'YJA6G3I'` in single quotes. This is because numeric values are not allowed to be column or table names, so we do not need quotes around literal numeric values. But we do need quotes around text values so the SQL engine does not get confused looking for that value as a column or table name.

In [15]:
sql = """

SELECT * FROM WEATHER_MONITOR
WHERE REPORT_CODE = 'YJA6G3I'

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,2511,YJA6G3I,2020-11-25,20,92.6,1,0.0,0.0,0,0,0

This rule applies to other operators we learned earlier, including using the `IN` operator. Below we look up three report codes.

In [16]:
sql = """

SELECT * FROM WEATHER_MONITOR
WHERE REPORT_CODE  IN ('YJA6G3I', 'M511XRH', 'S4ED81Y')

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,2511,YJA6G3I,2020-11-25,20,92.6,1,0.00,0.0,0,0,0
1,2937,M511XRH,2021-01-19,5,96.6,1,3.24,0.0,0,0,0
2,2989,S4ED81Y,2020-12-04,35,91.4,0,0.00,0.0,0,0,0

Some operators are specific to text, such as concatentation `||` or `LIKE` which allows us to match text with wildcards. Here is a `LIKE` operation that searches for report codes that have a `Y` in the first position and a `D` in the third. The `_` in the pattern string is a wildcard for one character, and the `%` is a wildcard for any number of characters.

In [17]:
sql = """

SELECT * FROM WEATHER_MONITOR
WHERE REPORT_CODE LIKE 'Y_D%'

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1286,YKD6SS7,2020-11-05,46,24.5,1,NaN,0.62,0,0,0
1,1685,Y9DDKBV,2021-01-04,24,23.3,1,0.0,0.91,0,0,0
2,2420,YADRWUB,2020-11-14,47,95.5,1,0.0,0.00,0,0,0

There are also functions that specifically are for working with strings like `length()` and `substr()`. Here we use a substring operation to extract out the middle 5 characters of the 7-character report code. The first argument is the string, the second is the starting character, and the third is the number of characters to grab starting from that position.

In [18]:
sql = """

SELECT REPORT_CODE, substr(REPORT_CODE, 2, 5) FROM WEATHER_MONITOR 

"""

pd.read_sql(sql, conn)

     REPORT_CODE substr(REPORT_CODE, 2, 5)
0        UVYMMWW                     VYMMW
1        7VVYE2L                     VVYE2
2        PJVNOSP                     JVNOS
3        3B19P7S                     B19P7
4        EHVUPGY                     HVUPG
...          ...                       ...
2995     RWG4DY4                     WG4DY
2996     9A9EQNQ                     A9EQN
2997     C7ALVIK                     7ALVI
2998     V660AWC                     660AW
2999     IC35HCE                     C35HC

[3000 rows x 2 columns]

You can view all the functions SQLite offers [in its documentation](https://www.sqlite.org/lang_corefunc.html).

## Filtering Dates and Time

Dates and time can be a little awkward in SQL as each platform will treat them differently. You typically want to establish time zone awareness in your date and time data, storing dates as [Greenwich Mean Time (GMT)](https://en.wikipedia.org/wiki/Greenwich_Mean_Time) or [Coordinated Universal Time (UTC)](https://en.wikipedia.org/wiki/Coordinated_Universal_Time). Then you can track which timezone the data was recorded in and adjust to local time accordingly. 

To keep things simple, let's just work with the `REPORT_DATE` column. If we want to get all records where `REPORT_DATE` is after `2021-05-15`, I can provide that date in a string of `yyyy-MM-dd` format. This is the [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601) for formatting dates. SQLite will then recognize this as a date instead of a plain string.

In [19]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE REPORT_DATE > '2021-05-15' 

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
1,15,6ALC472,2021-05-22,1,56.2,1,2.45,0.0,0,0,0
2,38,7FK9S4L,2021-05-24,39,56.8,0,0.00,0.0,0,0,0
3,47,R3XIOO5,2021-05-22,28,68.4,0,0.00,0.0,0,0,0
4,58,R4NN9Y2,2021-05-30,39,66.6,0,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
118,974,JOVV23A,2021-05-27,0,56.8,0,0.00,0.0,0,0,0
119,992,FA3XB4B,2021-05-18,3,65.8,0,0.00,0.0,0,0,0
120,996,GP7W6ZF,2021-05-23,6,56.1,1,0.00,0.0,1,0,0
121,997,1Q02Y10,2021-05-29,12,59.2,1,2.24,0.0,0,1,1
122,999,X62CXQ9,2021-05-19,29,59.2,1,2.73,0.0,0,1,1

Each SQL platform will likely have a different way of extracting the month, day, or other components of a date or time. SQLite has a particular way of working with dates and times as well. If we want to filter for 2021 records, we can use `strftime()` to extract out the year using a [special formatting syntax](https://www.sqlite.org/lang_datefunc.html) where `%Y` will extract the year component.

In [20]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE strftime('%Y', REPORT_DATE) = '2021'

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1,UVYMMWW,2021-03-20,0,66.0,1,3.74,0.0,0,0,0
1,2,7VVYE2L,2021-04-10,24,61.3,0,0.00,0.0,0,0,0
2,3,PJVNOSP,2021-02-26,32,61.6,1,1.58,0.0,0,0,0
3,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
4,5,EHVUPGY,2021-04-09,48,58.5,0,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1701,2980,FGDKK2J,2021-01-20,7,80.0,1,2.14,0.0,0,0,0
1702,2995,XV1UQZ4,2021-01-15,6,89.8,1,1.69,0.0,0,0,0
1703,2998,C7ALVIK,2021-01-14,48,96.8,0,0.00,0.0,0,0,0
1704,2999,V660AWC,2021-01-10,29,103.6,1,2.73,0.0,0,0,0
1705,3000,IC35HCE,2021-01-07,48,64.0,1,2.32,0.0,0,0,0

You can convert the year from a string to an integer using the `CAST` operator.

In [21]:
sql = """

SELECT * FROM WEATHER_MONITOR 
WHERE CAST(strftime('%Y', REPORT_DATE) AS INTEGER) = 2021

"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,1,UVYMMWW,2021-03-20,0,66.0,1,3.74,0.0,0,0,0
1,2,7VVYE2L,2021-04-10,24,61.3,0,0.00,0.0,0,0,0
2,3,PJVNOSP,2021-02-26,32,61.6,1,1.58,0.0,0,0,0
3,4,3B19P7S,2021-05-30,39,66.3,0,0.00,0.0,0,0,0
4,5,EHVUPGY,2021-04-09,48,58.5,0,0.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1701,2980,FGDKK2J,2021-01-20,7,80.0,1,2.14,0.0,0,0,0
1702,2995,XV1UQZ4,2021-01-15,6,89.8,1,1.69,0.0,0,0,0
1703,2998,C7ALVIK,2021-01-14,48,96.8,0,0.00,0.0,0,0,0
1704,2999,V660AWC,2021-01-10,29,103.6,1,2.73,0.0,0,0,0
1705,3000,IC35HCE,2021-01-07,48,64.0,1,2.32,0.0,0,0,0

You can get today's date using `DATE('now')` and use this to qualify queries for today's date.

In [22]:
sql = """
SELECT DATE('now')
"""

pd.read_sql(sql, conn)

  DATE('now')
0  2023-02-18

You can also get the current UTC time using the `TIME()` function. Note the format which is compliant to ISO 8601 format.

In [23]:
sql = """
SELECT TIME('now')
"""

pd.read_sql(sql, conn)

  TIME('now')
0    20:20:40

You can also work with a full date and time, as well as add and subtract different calendar operations. This grabs yesterday's date.

In [24]:
sql = """
SELECT DATETIME('now', '-1 day')
"""

pd.read_sql(sql, conn)

  DATETIME('now', '-1 day')
0       2023-02-17 20:20:40

By following the ISO 6201 format, you can turn any properly formatted string into a `DATE`, `TIME` or `DATETIME` and perform any comparative, or calendar logic you want.

In [25]:
sql = """
SELECT DATETIME('2022-10-19 18:58:12') AS MY_DATE_TIME
"""

pd.read_sql(sql, conn)

          MY_DATE_TIME
0  2022-10-19 18:58:12

# EXERCISE

Complete the query below to find all records where there was a tornado and hail, OR the rain was greater than 5 inches and temperature was at least 70.

In [26]:
sql = """
SELECT * FROM WEATHER_MONITOR
WHERE (TORNADO = 1 AND HAIL = 1) OR (RAIN > 5 AND TEMPERATURE >= 70)
"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,16,H3TOK27,2021-03-15,46,69.4,1,3.16,0.0,1,1,1
1,66,N5E6A32,2021-05-17,8,62.6,1,0.72,0.0,1,1,1
2,67,NXN6UQH,2021-03-08,17,68.7,1,2.16,0.0,1,1,1
3,72,BVGO9N4,2021-05-04,27,51.4,1,0.00,0.0,1,1,1
4,84,NRRRL3Z,2021-02-20,0,59.3,1,0.00,0.0,1,1,1
5,85,HOKJWT3,2021-03-06,30,56.3,1,1.77,0.0,1,1,1
6,104,CMM6MS7,2021-05-05,39,56.8,1,0.00,0.0,1,1,1
7,110,D2M5TN9,2021-05-22,16,63.0,1,2.60,0.0,1,1,1
8,134,VU1WE8Q,2021-03-02,5,62.5,1,2.50,0.0,1,1,1
9,163,XWB9ZQ4,2021-05-18,45,61.8,1,0.00,0.0,0,1,1
10,164,CH9D2ON,2021-05-22,24,67.7,1,3.54,0.0,1,1,1
11,166,OOENLCM,2021-05-25,8,53.9,1,0.00,0.0,1,1,1
12,187,TV9XROC,2021-04-18,48,66.0,1,0.00,0.0,0,1,1
13,198,VNALJZT,2021-03-24,3,58.2,1,0.09,0.0,1,1,1
14,206,NO0T5SJ,2021-03-31,5,64.1,1,0.00,0.0,1,1,1
15,238,TO7FS49,2021-02-19,40,52.6,1,0.00,0.0,1,1,1
16,246,S0SXVTZ,2021-02-15,43,57.5,1,0.84,0.0,0,1,1
17,277,N5Z1SCJ,2021-05-15,4,58.3,1,1.40,0.0,0,1,1
18,307,M2XBIEL,2021-05-07,3,61.5,1,NaN,0.0,0,1,1
19,314,LW4QMP7,2021-04-20,10,62.9,1,1.87,0.0,1,1,1
20,334,5UHWPYX,2021-04-03,29,52.6,1,1.37,0.0,1,1,1
21,350,BGL8OI0,2021-04-21,30,58.0,1,2.28,0.0,0,1,1
22,355,ZL1DKWZ,2021-02-13,39,62.5,1,2.02,0.0,0,1,1
23,366,HEB638I,2021-02-23,36,63.4,1,3.09,0.0,1,1,1
24,382,PB3AZK3,2021-04-19,16,58.3,1,0.00,0.0,0,1,1
25,387,E2LA0TK,2021-05-03,10,58.0,1,2.32,0.0,0,1,1
26,474,YNP0OGB,2021-02-09,15,56.6,1,1.60,0.0,1,1,1
27,481,TBRG379,2021-05-21,0,59.5,1,0.61,0.0,0,1,1
28,487,7FGH88E,2021-03-26,48,62.0,1,0.94,0.0,0,1,1
29,521,YJTJ291,2021-02-27,33,53.6,1,0.00,0.0,0,1,1
30,534,ZRSFMAY,2021-05-16,29,63.4,1,0.00,0.0,0,1,1
31,547,WBXG24W,2021-03-25,48,63.2,1,3.41,0.0,0,1,1
32,575,SV56DJ2,2021-04-27,25,68.6,1,0.00,0.0,1,1,1
33,576,8QKBI9O,2021-05-14,7,57.4,1,0.00,0.0,1,1,1
34,577,Z0N3XB7,2021-03-18,23,58.5,1,2.40,0.0,1,1,1
35,582,6T1FT5P,2021-05-04,43,58.4,1,1.98,0.0,0,1,1
36,589,U3F98VW,2021-03-09,21,65.4,1,3.20,0.0,0,1,1
37,639,63DOPY4,2021-03-02,17,61.0,1,1.35,0.0,0,1,1
38,640,BVF4E7Z,2021-02-23,40,64.1,1,0.00,0.0,1,1,1
39,693,OBWWK2L,2021-04-29,10,62.8,1,0.00,0.0,0,1,1
40,713,ST9N6RZ,2021-04-29,28,56.0,1,NaN,0.0,0,1,1
41,715,F06B7RX,2021-04-01,35,54.9,1,1.97,0.0,1,1,1
42,716,87WYPTR,2021-04-30,48,61.0,1,NaN,0.0,0,1,1
43,721,B11WJ8J,2021-02-19,26,63.6,1,0.02,0.0,0,1,1
44,757,PNQ4ICZ,2021-05-08,3,68.7,1,1.74,0.0,1,1,1
45,820,8SAK9W6,2021-03-20,5,56.4,1,0.00,0.0,1,1,1
46,847,4COYQ3D,2021-02-05,14,58.3,1,1.64,0.0,0,1,1
47,861,J9CG6E3,2021-04-21,13,57.2,1,1.47,0.0,1,1,1
48,889,VI2D9WI,2021-04-13,44,58.1,1,0.91,0.0,0,1,1
49,903,74YIOCN,2021-03-24,3,64.4,1,1.79,0.0,1,1,1
50,927,BA0SNNS,2021-03-04,3,66.5,1,2.15,0.0,1,1,1
51,941,5ORT2Y5,2021-04-05,47,66.4,1,0.00,0.0,1,1,1
52,942,I2L5WI0,2021-04-23,39,55.7,1,0.00,0.0,0,1,1
53,943,UH2WMJE,2021-02-06,45,66.8,1,4.37,0.0,0,1,1
54,953,R4VAK9K,2021-02-17,2,58.9,1,NaN,0.0,1,1,1
55,959,5ZBJOOK,2021-02-03,25,56.9,1,1.64,0.0,1,1,1
56,997,1Q02Y10,2021-05-29,12,59.2,1,2.24,0.0,0,1,1
57,999,X62CXQ9,2021-05-19,29,59.2,1,2.73,0.0,0,1,1
58,2546,AFUXHPZ,2020-12-17,7,91.9,1,5.51,0.0,0,0,0

### SCROLL DOWN FOR ANSWER
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
|<br>
v

In [27]:
sql = """
SELECT * FROM WEATHER_MONITOR
WHERE (TORNADO = 1 AND HAIL = 1) OR (RAIN > 5 AND TEMPERATURE >= 70)
"""

pd.read_sql(sql, conn)

,ID,REPORT_CODE,REPORT_DATE,LOCATION_ID,TEMPERATURE,OVERCAST,RAIN,SNOW,LIGHTNING,HAIL,TORNADO
0,16,H3TOK27,2021-03-15,46,69.4,1,3.16,0.0,1,1,1
1,66,N5E6A32,2021-05-17,8,62.6,1,0.72,0.0,1,1,1
2,67,NXN6UQH,2021-03-08,17,68.7,1,2.16,0.0,1,1,1
3,72,BVGO9N4,2021-05-04,27,51.4,1,0.00,0.0,1,1,1
4,84,NRRRL3Z,2021-02-20,0,59.3,1,0.00,0.0,1,1,1
5,85,HOKJWT3,2021-03-06,30,56.3,1,1.77,0.0,1,1,1
6,104,CMM6MS7,2021-05-05,39,56.8,1,0.00,0.0,1,1,1
7,110,D2M5TN9,2021-05-22,16,63.0,1,2.60,0.0,1,1,1
8,134,VU1WE8Q,2021-03-02,5,62.5,1,2.50,0.0,1,1,1
9,163,XWB9ZQ4,2021-05-18,45,61.8,1,0.00,0.0,0,1,1
10,164,CH9D2ON,2021-05-22,24,67.7,1,3.54,0.0,1,1,1
11,166,OOENLCM,2021-05-25,8,53.9,1,0.00,0.0,1,1,1
12,187,TV9XROC,2021-04-18,48,66.0,1,0.00,0.0,0,1,1
13,198,VNALJZT,2021-03-24,3,58.2,1,0.09,0.0,1,1,1
14,206,NO0T5SJ,2021-03-31,5,64.1,1,0.00,0.0,1,1,1
15,238,TO7FS49,2021-02-19,40,52.6,1,0.00,0.0,1,1,1
16,246,S0SXVTZ,2021-02-15,43,57.5,1,0.84,0.0,0,1,1
17,277,N5Z1SCJ,2021-05-15,4,58.3,1,1.40,0.0,0,1,1
18,307,M2XBIEL,2021-05-07,3,61.5,1,NaN,0.0,0,1,1
19,314,LW4QMP7,2021-04-20,10,62.9,1,1.87,0.0,1,1,1
20,334,5UHWPYX,2021-04-03,29,52.6,1,1.37,0.0,1,1,1
21,350,BGL8OI0,2021-04-21,30,58.0,1,2.28,0.0,0,1,1
22,355,ZL1DKWZ,2021-02-13,39,62.5,1,2.02,0.0,0,1,1
23,366,HEB638I,2021-02-23,36,63.4,1,3.09,0.0,1,1,1
24,382,PB3AZK3,2021-04-19,16,58.3,1,0.00,0.0,0,1,1
25,387,E2LA0TK,2021-05-03,10,58.0,1,2.32,0.0,0,1,1
26,474,YNP0OGB,2021-02-09,15,56.6,1,1.60,0.0,1,1,1
27,481,TBRG379,2021-05-21,0,59.5,1,0.61,0.0,0,1,1
28,487,7FGH88E,2021-03-26,48,62.0,1,0.94,0.0,0,1,1
29,521,YJTJ291,2021-02-27,33,53.6,1,0.00,0.0,0,1,1
30,534,ZRSFMAY,2021-05-16,29,63.4,1,0.00,0.0,0,1,1
31,547,WBXG24W,2021-03-25,48,63.2,1,3.41,0.0,0,1,1
32,575,SV56DJ2,2021-04-27,25,68.6,1,0.00,0.0,1,1,1
33,576,8QKBI9O,2021-05-14,7,57.4,1,0.00,0.0,1,1,1
34,577,Z0N3XB7,2021-03-18,23,58.5,1,2.40,0.0,1,1,1
35,582,6T1FT5P,2021-05-04,43,58.4,1,1.98,0.0,0,1,1
36,589,U3F98VW,2021-03-09,21,65.4,1,3.20,0.0,0,1,1
37,639,63DOPY4,2021-03-02,17,61.0,1,1.35,0.0,0,1,1
38,640,BVF4E7Z,2021-02-23,40,64.1,1,0.00,0.0,1,1,1
39,693,OBWWK2L,2021-04-29,10,62.8,1,0.00,0.0,0,1,1
40,713,ST9N6RZ,2021-04-29,28,56.0,1,NaN,0.0,0,1,1
41,715,F06B7RX,2021-04-01,35,54.9,1,1.97,0.0,1,1,1
42,716,87WYPTR,2021-04-30,48,61.0,1,NaN,0.0,0,1,1
43,721,B11WJ8J,2021-02-19,26,63.6,1,0.02,0.0,0,1,1
44,757,PNQ4ICZ,2021-05-08,3,68.7,1,1.74,0.0,1,1,1
45,820,8SAK9W6,2021-03-20,5,56.4,1,0.00,0.0,1,1,1
46,847,4COYQ3D,2021-02-05,14,58.3,1,1.64,0.0,0,1,1
47,861,J9CG6E3,2021-04-21,13,57.2,1,1.47,0.0,1,1,1
48,889,VI2D9WI,2021-04-13,44,58.1,1,0.91,0.0,0,1,1
49,903,74YIOCN,2021-03-24,3,64.4,1,1.79,0.0,1,1,1
50,927,BA0SNNS,2021-03-04,3,66.5,1,2.15,0.0,1,1,1
51,941,5ORT2Y5,2021-04-05,47,66.4,1,0.00,0.0,1,1,1
52,942,I2L5WI0,2021-04-23,39,55.7,1,0.00,0.0,0,1,1
53,943,UH2WMJE,2021-02-06,45,66.8,1,4.37,0.0,0,1,1
54,953,R4VAK9K,2021-02-17,2,58.9,1,NaN,0.0,1,1,1
55,959,5ZBJOOK,2021-02-03,25,56.9,1,1.64,0.0,1,1,1
56,997,1Q02Y10,2021-05-29,12,59.2,1,2.24,0.0,0,1,1
57,999,X62CXQ9,2021-05-19,29,59.2,1,2.73,0.0,0,1,1
58,2546,AFUXHPZ,2020-12-17,7,91.9,1,5.51,0.0,0,0,0